{% if permissions.custom == false or  (permissions.custom == true and permissions.custom_field[field_settings.module_field_name]>0) %}
{# if custom access setting id done then allowed only for view & editview is true that is 1 or 2  #}
{% set field_permission = permissions.custom_field[field_settings.module_field_name] %}
<li><label>{{field_settings.module_field_display_name}}(user){{field_settings.required_field=='Y'?'*':''}}:</label> 
    <div class="field-wrap">
        {# this readonly parameter will only come thru edit relationship.html.twig. Already decided to show field in readonly way#}
        {% if readonly is not defined and (permissions.custom == false or field_permission == 2 )%}
            {# user has edit access   #}
            <div class="dropdown">
                <select name="{{field_settings.module_field_name}}" id="{{field_settings.module_field_name}}"  class="selectbox">
                    <option value="">Select option...</option>
                    {% for id,name in users %}
                        <option value="{{id}}" {{id == data ? 'SELECTED': ''}}>{{name}}</option>
                    {% endfor%}


                </select><br>
            </div>
        {% else %}
            {# user only has view access   #}
            <div class="read_text"> {{data is defined ? users[data] : ''}} </div>
        {% endif %}

    </div>
</li>
{% endif %}