<li><label>{{field_settings.module_field_display_name}}:</label> 
    <div class="field-wrap">
        <input name="{{field_settings.module_field_name}}" id="{{field_settings.module_field_name}}"  value="{{data is defined ? data : ''}}" type="text" ><br>
        <small><i>Maximum {{field_settings.varchar_limit}} character allowed</i></small>
    </div>
</li>