<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="/assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="/assets/js/ui.js" type="text/javascript"></script>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts %}
        <!--script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script-->
        <!--<script src="/assets/js/jquery-3.1.1.min.js"></script>-->
    {% endblock %}
</head>
<body>
    <div class="wrapper login-bg">
        <header class="header">
            <div class="header-inner">

                <div class="logo" style="text-align: left;">
                    <a href="/">
                        <img src="/assets/images/aizan_logo2.png" width="120" alt=""/></a>
                </div>
                <ul>
                    <li>
                        {% if app.getUser().getCurrentCustomer() and app.getUser().getCurrentCustomer().getIsActive() %}
                            <a class="b-btn open-menu" href="#cusomerMenu">
                                <span class="fa fa-user-circle-o"></span>{{app.getUser().getCurrentCustomer().getCustomer().getName()}}
                            </a>
                        {% else %}
                            <a class="b-btn open-menu" href="#cusomerMenu">
                                <span class="fa fa-user-circle-o"></span>Choose Customer
                            </a>
                        {% endif %}
                        <div class="MenuDd" id="cusomerMenu">
                            <ol>
                                {% for customer in app.getUser().getAllowedCustomers(true) %}
                                    <li><a href="#" data-customer-link-id="{{ customer.getCustomer().getId() }}">{{ customer.getCustomer().getName() }}</a></li>
                                    {% endfor %}
                            </ol>
                        </div>
                    </li>
                    <li>
                        <a class="b-btn profile open-menu" href="#user_popup"><span class="fa fa-user"></span>{{ app.user.getName() }}<span class="fa-rt fa fa-caret-down"></span></a>
                        <div class="PopMenu" id="user_popup">
                            <ul>
                                <li>
                                    <h4>{{ app.user.getName() }}</h4>
                                    <a class="e-mail" href="mailto:{{ app.user.getEmail() }}">{{ app.user.getEmail() }}</a>
                                    <p><A href="/myPreferences">My Preferences</a></p>
                                </li>
                                <li>
                                    <h4>Aizan</h4>
                                    <span>My role in this app is {{ app.user.getRole().getName() }}</span>
                                    <p><a href="#">My Personal setting in this app</a></p>
                                </li>
                                <li><a class="signout" href="/logout">Sign Out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </header>
        <div class="feature-list">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_setting_view')}}">
                        <i class="fa fa-gears"></i>
                        <span>Module Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/users">
                        <i class="fa fa-user"></i>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_customer_view')}}">
                        <i class="fa fa-users"></i>
                        <span>Customer</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_marketingprojects_view')}}">
                        <i class="fa fa-list-alt"></i>
                        <span>Marketing Projects</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_initiative_view')}}">
                        <i class="fa fa-gears"></i>
                        <span>Initiatives</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_campaign_view')}}">
                        <i class="fa fa-bullhorn"></i>
                        <span>Campaign</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_campaigncontacts_view')}}">
                        <i class="fa fa-address-book"></i>
                        <span>Campaign Contacts</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_psuedoemailaccounts_view')}}">
                        <i class="fa fa-envelope"></i>
                        <span>Psuedo Email Accounts</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_assignpsuedo_view')}}">
                        <i class="fa fa-desktop"></i>
                        <span>Assign Psudeo</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_links_view')}}">
                        <i class="fa fa-dollar"></i>
                        <span>Links</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_linkrates_view')}}">
                        <i class="fa fa-tachometer"></i>
                        <span>Link Rates</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('intelligent_dnclists_view')}}">
                        <i class="fa fa-list-alt"></i>
                        <span>DNS List</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="flash">
            <div class="flash-msg">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    {% if type == 'success' %}
                        <div class="msg green"> {{ message }} </div>
                    {% else %}
                        <div class="msg red"> {{ message }} </div>

                    {% endif %}
                    {# Or even with css class rendering:
                      <div class="flash-{{type}}">{{message}}</div>
                     #}
                {% endfor %}
            {% endfor %}
            </div>
        </div>
    {% block body %}{% endblock %}
    
</div>
{% block footer %}
    <footer class="footer">
        <div class="left-footer">
            <p>&copy; aizan.com</p>
        </div>
        <div class="right-footer">
            <p>
                <a href="#">Privacy Policy</a>
            {% block footerlink %}{% endblock %}
        </p>
    </div>
</footer>
{% endblock %}
</body>
</html>
