<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        {% block title %}
            <title>Aizan</title>
        {% endblock %}
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        {% block stylesheet %}
            <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascript %}
            <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/jquery.floatThead.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/ui.js') }}" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header-inner">
                    <div class="logo" style="text-align: left;">
                        <a href="/">
                            <img src="{{ asset('assets/images/aizan_logo2.png') }}" width="120" alt=""/></a>
                    </div>
                    <ul>
                        <li>
                            {% if app.getUser().getCurrentCustomer() and app.getUser().getCurrentCustomer().getIsActive() %}
                                <a class="b-btn open-menu" href="#cusomerMenu">
                                    <span class="fa fa-user-circle-o"></span>{{app.getUser().getCurrentCustomer().getCustomer().getName()}}
                                </a>
                            {% else %}
                                <a class="b-btn open-menu" href="#cusomerMenu">
                                    <span class="fa fa-user-circle-o"></span>Choose Customer
                                </a>
                            {% endif %}
                            <div class="MenuDd" id="cusomerMenu">
                                <ol>
                                    {% for customer in app.getUser().getAllowedCustomers(true) %}
                                        <li><a href="#" data-customer-link-id="{{ customer.getCustomer().getId() }}">{{ customer.getCustomer().getName() }}</a></li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </li>
                        <li>
                            <a class="b-btn profile open-menu" href="#user_popup"><span class="fa fa-user"></span>{{ app.user.getName() }}<span class="fa-rt fa fa-caret-down"></span></a>
                            <div class="PopMenu" id="user_popup">
                                <ul>
                                    <li>
                                        <h4>{{ app.user.getName() }}</h4>
                                        <a class="e-mail" href="mailto:{{ app.user.getEmail() }}">{{ app.user.getEmail() }}</a>
                                        <p><A href="/myPreferences">My Preferences</a></p>
                                    </li>
                                    <li>
                                        <h4>Aizan</h4>
                                        <span>My role in this app is {{ app.user.getRole().getName() }}</span>
                                        <p><a href="#">My Personal setting in this app</a></p>
                                    </li>
                                    <li><a class="signout" href="/logout">Sign Out</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="feature-list">
                <div class="prev"><i class="fa fa-chevron-left"></i></div>
                {{include('shared/navigation.html.twig')}}
                <div class="next"><i class="fa fa-chevron-right"></i></div>
            </div>

            <div class="bottom-sec">
                {% block breadcrumb %}
                    <div class="bread-crumb">
                        <span>Expertise.com Marketing Mgmt</span>
                        <i class="fa fa-long-arrow-right"></i>
                        <span>Roles</span>
                        <i class="fa fa-long-arrow-right"></i>
                        <span>Test</span>
                    </div>
                {% endblock %}
                {% block custom_feature %}
                    {% if app.getUser().getRole().getGlobalPermission().getManageUserAppPermission() %}
                        <div class="custom-feature">
                            
                            <a href="/roles"><i class="fa fa-user-secret"></i>Manage Roles</a>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>

        {% block body %}{% endblock %}
        {% block footer %}
            {{include("shared/footer.html.twig")}}
        {% endblock %}
    </div>
</body>

{% block inlinejs %}{% endblock %}
</html>
