{# Intelligent/SettingBundle/Resources/views/Default/edit.html.twig #}
{% extends "base.html.twig"  %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function ($) {

            $('#fieldname_edit').on('click', function () {
                $('#module_field_name').attr('READONLY', false).focus();
                return false;
            });
            $('#module_field_datatype').on('change', function () {

                if ($(this).val() == 'enum') {
                    $('#value_row').slideDown('slow');
                } else {
                    $('#value_row').slideUp('slow');
                }
                if ($(this).val() == 'link') {
                    $('#link_text_row').slideDown('slow');
                } else {
                    $('#link_text_row').slideUp('slow');
                }
                if ($(this).val() == 'varchar') {
                    $('#varchar_limit_row').slideDown('slow');
                } else {
                    $('#varchar_limit_row').slideUp('slow');
                }
                if ($(this).val() == 'text' || $(this).val() == 'link') {
                    jQuery("#enable_filter").val('N');
                    $('#enable_filter_row').slideUp('slow');
                } else {
                    $('#enable_filter_row').slideDown('slow');
                }
                
                if ($(this).val() == 'varchar' || $(this).val() == 'number') {
                    $('#unique_field_row').slideDown('slow');
                } else {
                    $('#unique_field_row').slideUp('slow');
                }
                
                if ($(this).val() == 'relationship') {
                    $('#relationship_module_unique_field_row').slideDown('slow');
                } else {
                    $('#relationship_module_unique_field_row').slideUp('slow');
                }
                
                if (['relationship-aggregator', 'relationship'].indexOf($(this).val()) > -1 ) {
                    $('#relationship_module_row').slideDown('slow');
                } else {
                    $('#relationship_module_row').slideUp('slow');
                }
                
                if ($(this).val() == 'relationship-aggregator') {
                    $('#aggregator_function_row').slideDown('slow');
                } else {
                    $('#aggregator_function_row').slideUp('slow');
                }
                
                if (['varchar', 'relationship'].indexOf($(this).val()) == -1) {
                    $('#enable_filter_with_option_row').slideUp('slow')
                }
                if ($(this).val() == 'formulafield') {
                    $('#formulafield_row').slideDown('slow');
                } else {
                    $('#formulafield_row').slideUp('slow');
                }

            }).trigger('change');

            $('#enable_filter').on('change', function () {
                if ($(this).val() == 'Y' && ['varchar', 'relationship'].indexOf($('#module_field_datatype').val()) > 0) {
                    $('#enable_filter_with_option_row').slideDown('slow')
                } else {
                    $('#enable_filter_with_option_row').slideUp('slow');
                }

            }).trigger('change');


            if ($('#edit_id_hidden_field').length) {
                $('#module_field_datatype').attr('DISABLED', true);
                //$('.add_f_field').hide();
                $('#module').attr('DISABLED', true);
                $('#relationship_module').attr('DISABLED', true);
                //$('#field_has_relationship').attr('DISABLED', true);
                $('#varchar_limit').attr('DISABLED', true);
                $('#unique_field').attr('DISABLED', true);

                $('#fieldname_edit').hide();

                $('#delete_action').on('click', function () {
                    if (!confirm('Are you sure to delete the column with data, this step cannot be rollbacked')) {
                        event.stopPropagation()
                    }
                });
                
                $('.open_module_field_identifier_popup').hide();
                $('.open_aggregator_popup').hide();
            }



        });

    </script>
{% endblock %}
{% block body %}
    <div id="setting_edit_template" style="display: none;"></div>
    <div class="bottom-sec">
        <div class="bread-crumb">
            <span id="module_name">Module Settings</span>
            <i class="fa fa-long-arrow-right"></i>
            <span>Edit</span>
        </div>
        <div class="custom-feature">
            <a class="red-btn" href="{{ path('intelligent_setting_edit', app.request.query.all| merge( {'edit_id': 'new'})) }}"><i class="fa fa-plus"></i>New Module Fields</a>
            <a class="grey-btn" href="{{ path('intelligent_setting_view', app.request.query.all) }}"><i class="fa fa-arrow-circle-left"></i>Back</a>
        </div>
    </div>

    {% if msg is defined and msg is not empty %}
        <div style="color:red"> {{msg}} </div>
    {% endif %}

{{ include('IntelligentSettingBundle:Default:edit-form.html.twig', with_context = true) }}

{% endblock %}