{# Intelligent/SettingBundle/Resources/views/Default/edit.html.twig #}
{% extends "base.html.twig"  %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function ($) {

            $('#fieldname_edit').on('click', function () {
                $('#module_field_name').attr('READONLY', false).focus();
                return false;
            });
            $('#module_field_datatype').on('change', function () {

                if ($(this).val() == 'enum') {
                    $('#value_row').slideDown('slow')
                } else {
                    $('#value_row').slideUp('slow')
                }
                if ($(this).val() == 'link') {
                    $('#link_text_row').slideDown('slow')
                } else {
                    $('#link_text_row').slideUp('slow')
                }
                if ($(this).val() == 'varchar') {
                    $('#varchar_limit_row').slideDown('slow')
                } else {
                    $('#varchar_limit_row').slideUp('slow')
                }
                if ($(this).val() == 'text' || $(this).val() == 'link') {
                    jQuery("#enable_filter").val('N')
                    $('#enable_filter_row').slideUp('slow')
                } else {
                    $('#enable_filter_row').slideDown('slow')
                }
                if ($(this).val() == 'varchar' || $(this).val() == 'number') {
                    $('#unique_field_row').slideDown('slow')
                } else {
                    $('#unique_field_row').slideUp('slow')
                }
                if ($(this).val() == 'relationship') {

                    $('#relationship_module_row').slideDown('slow')
                    $('#relationship_module_unique_field_row').slideDown('slow')
                } else {
                    $('#relationship_module_row').slideUp('slow')
                    $('#relationship_module_unique_field_row').slideUp('slow')
                }

            }).trigger('change');
            
            $('#enable_filter').on('change', function () {
                
                 if ($(this).val() == 'N' && $('#module_field_datatype').val()=='varchar'){
                      $('#enable_filter_with_option_row').slideUp('slow')
                 }else{
                     $('#enable_filter_with_option_row').slideDown('slow')
                 }
                
            }).trigger('change');

            /*field_has_relationship').on('change', function () {
             
             if ($(this).val() == 'Y') {
             $('#relationship_module_row').slideDown('slow');
             } else {
             $('#relationship_module_row').slideUp('slow');
             }
             
             }).trigger('change');*/

            if ($('#edit_id_hidden_field').length) {
                $('#module_field_datatype').attr('DISABLED', true);
                $('#module').attr('DISABLED', true);
                $('#relationship_module').attr('DISABLED', true);
                //$('#field_has_relationship').attr('DISABLED', true);
                $('#varchar_limit').attr('DISABLED', true);
                $('#unique_field').attr('DISABLED', true);

                $('#fieldname_edit').hide();

                $('#delete_action').on('click', function () {
                    if (!confirm('Are you sure to delete the column with data, this step cannot be rollbacked')) {
                        event.stopPropagation()
                    }
                });
            }

        });

    </script>
{% endblock %}
{% block body %}
    <div class="bottom-sec">
        <div class="bread-crumb">
            <span>Module Settings</span>
            <i class="fa fa-long-arrow-right"></i>
            <span>Edit</span>
        </div>
        <div class="custom-feature">
            <a href="{{ path('intelligent_setting_edit', app.request.query.all| merge( {'edit_id': 'new'})) }}"><i class="fa"></i>New</a>
            <a href="{{ path('intelligent_setting_view', app.request.query.all) }}"><i class="fa"></i>Back</a>
        </div>
    </div>

    {% if msg is defined and msg is not empty %}
        <div style="color:red"> {{msg}} </div>
    {% endif %}

    <div class="form-control-outer">
        <div class="form-control">
            <div class="form-header">
                <h4>Edit/View</h4>
            </div>
            <form action="" method="POST">
                <ul>
                    {% for config in field %}

                        <li><label>Module:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="module" id="module"  class="selectbox">
                                        <option value="">Select Module...</option>
                                        {% for keyname, module in modules %}
                                            <option value="{{keyname}}" {{config.module is defined and config.module == keyname ? 'SELECTED': ''}}>{{module}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </li>

                        <li><label>Module Field Name:</label> 
                            <div class="field-wrap">
                                <input name="module_field_display_name" id="module_field_display_name"  value="{{config.module_field_display_name is defined ? config.module_field_display_name : ''}}" type="text" ><br>
                            </div>
                        </li>
                        <li>
                            <label>Module Field Identifier:</label> 
                            <div class="field-wrap">
                                <input name="module_field_name" id="module_field_name"  value = "{{config.module_field_name is defined ? config.module_field_name : ''}}" type="text" readonly> <a href="#" id="fieldname_edit">Click to edit field, default is autogenerated.</a><br>
                            </div>
                        </li>
                        <li>
                            <label>Module Field Type: </label>
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="module_field_datatype" id="module_field_datatype"  class="selectbox">
                                        {% for keyname, datatype in datatypes %} 
                                            <option value="{{keyname}}" {{config.module_field_datatype is defined and config.module_field_datatype == keyname ? 'SELECTED': ''}}>{{datatype}}</option>
                                        {% endfor %}
                                    </select><br>
                                </div>
                            </div>
                        </li>
                        <li id="relationship_module_row"> 
                            <label>Relationship Table: </label>
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="relationship_module" id="relationship_module"  class="selectbox" >
                                        <option value="">Select Module..</option>
                                        {% for keyname, module in modules %}
                                            <option value="{{keyname}}" {{config.relationship_module is defined and config.relationship_module == keyname ? 'SELECTED': ''}}>{{module}}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                <small><i>Module Field Identifier should be same as Field Identifier of Relationship Module</i></small>
                            </div>
                        </li>
                        <li id="relationship_module_unique_field_row"> 
                            <label>Relationship Module Unique Field: </label>
                            <div class="field-wrap">
                                    <input name="relationship_module_unique_field" id="relationship_module_unique_field"  value="{{config.relationship_module_unique_field is defined ? config.relationship_module_unique_field : ''}}" type="text" ><br><small><i>This field of relationship table will be displayed on edit/add form for setting relation. </i></small>
                            </div>
                        </li>
                        <li><label>Display Position:</label> 
                            <div class="field-wrap">
                                <input name="display_position" id="display_position"  value="{{config.display_position is defined ? config.display_position : '100'}}" type="text" ><br><small><i>To move column position to left, reduce the value of display position field. </i></small>
                            </div>
                        </li>
                        <li id="varchar_limit_row">
                            <label>Max Character Limit:</label> 
                            <div class="field-wrap">
                                <input name="varchar_limit" id="varchar_limit" value="{{config.varchar_limit is defined ? config.varchar_limit : '64'}}" type="text"><br>
                            </div>
                        </li><li id="value_row">
                            <label>Value Set:</label> 
                            <div class="field-wrap">
                                <input name="value" id="value" value="{{config.value is defined ? config.value : 'value1|value2|value3'}}" type="text"><br>
                            </div>
                        </li>
                        <li id="link_text_row">
                            <label>Link Text:</label> 
                            <div class="field-wrap">
                                <input name="link_text" id="link_text" value="{{config.link_text is defined ? config.link_text : ''}}" type="text"><br>
                            </div>
                        </li>
                        <li id="unique_field_row">
                            <label>Unique Field:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="unique_field" id="unique_field"  class="selectbox" >
                                        <option value="N" {{config.unique_field is defined and config.unique_field == 'N' ? 'SELECTED': ''}}>No</option>
                                        <option value="Y" {{config.unique_field is defined and config.unique_field == 'Y' ? 'SELECTED': ''}}>Yes</option>
                                    </select><br>
                                </div>
                            </div>
                        </li>
                        <li id="enable_filter_row">
                            <label>Enable Filter:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="enable_filter" id="enable_filter"  class="selectbox" >
                                        <option value="N" {{config.enable_filter is defined and config.enable_filter == 'N' ? 'SELECTED': ''}}>No</option>
                                        <option value="Y" {{config.enable_filter is defined and config.enable_filter == 'Y' ? 'SELECTED': ''}}>Yes</option>
                                    </select><br>
                                </div>
                            </div>
                        </li>
                        <li id="enable_filter_with_option_row">
                            <label>Enable Filter With Option:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="enable_filter_with_option" id="enable_filter_with_option"  class="selectbox" >
                                        <option value="N" {{config.enable_filter_with_option is defined and config.enable_filter_with_option == 'N' ? 'SELECTED': ''}}>No</option>
                                        <option value="Y" {{config.enable_filter_with_option is defined and config.enable_filter_with_option == 'Y' ? 'SELECTED': ''}}>Yes</option>
                                    </select><br>
                                    
                                </div>
                                    <small><i>Enable this option only it is really required, it affects the performance in some means. </i></small>
                            </div>
                        </li>
                        <li> <label>Show in Grid:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="show_in_grid" id="show_in_grid"  class="selectbox">
                                        <option value="Y" {{config.show_in_grid is defined and config.show_in_grid == 'Y' ? 'SELECTED': ''}}>Yes</option>
                                        <option value="N" {{config.show_in_grid is defined and config.show_in_grid == 'N' ? 'SELECTED': ''}}>No</option>

                                    </select><br>
                                </div>
                            </div>
                        </li>
                        <li id="required_field_row">
                            <label>Required field:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="required_field" id="required_field"  class="selectbox">
                                        <option value="N" {{config.required_field is defined and config.required_field == 'N' ? 'SELECTED': ''}}>No</option>
                                        <option value="Y" {{config.required_field is defined and config.required_field == 'Y' ? 'SELECTED': ''}}>Yes</option>
                                    </select><br>
                                </div>
                            </div>

                        </li>                        <li id="field_has_relationship_row">
                            <label>Is a foreign key:</label> 
                            <div class="field-wrap">
                                <div class="dropdown">
                                    <select name="is_" id="field_has_relationship"  class="selectbox">
                                        <option value="N" {{config.relationship_module is defined and config.relationship_module == 'N' ? 'SELECTED': ''}}>No</option>
                                        <option value="Y" {{config.relationship_module is defined and config.relationship_module == 'Y' ? 'SELECTED': ''}}>Yes</option>
                                    </select><br>
                                </div>
                            </div>

                        </li>

                        {% if config.modified_datetime is defined %}
                            <li> 
                                <label>Last Modified:</label> 
                                <div class="field-wrap">
                                    {{config.modified_datetime}}<br>
                                </div>
                            </li>
                            <li>
                                <label>Modified by:</label> 
                                <div class="field-wrap">
                                    {{config.modified_by}}
                                </div>
                            </li>
                        {% endif %}

                        <li>
                            <label>&nbsp;</label> 
                            <div class="field-wrap">
                                {% if id is defined and id is not empty %}

                                    <input type="hidden" name="id" id="edit_id_hidden_field" value="{{id}}">
                                    <input type="hidden" name="module_field_datatype" value="{{config.module_field_datatype}}">
                                    <input type="submit" name="edit_submit" value="Save" > 
                                    <input type="submit" name="delete_submit" value="Delete" id="delete_action" onsubmit="return confirm('Are you sure to delete the column with data, this step cannot be rollbacked')">
                                {% else %}
                                    <input type="submit" name="add_submit" value="Add" > 

                                {% endif %}
                            </div>
                        </li>

                    {% endfor %}

                </ul>
            </form>
        </div>
    </div>



{% endblock %}