{# Intelligent/SettingBundle/Resources/views/Default/view.html.twig #}
{% extends "base.html.twig"  %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .full-container{
            width: 100%;
        }
        .left-container{
            width: 20%;
            float: left;
        }
        .right-container{
            width: 80%;
            float: left;
        }
        .right-container table{
            width: 100% !important;
        }

        .selected_fitlers_container{
            width: 100%;
        }
        .selected_filter{
            float: left;
            padding: 5px 15px;
            margin: 5px 15px;
        }




    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        jQuery(document).ready(function ($) {

            $("#filter_form input[type='radio'],#filter_form select").change(function () {

                $("#filter_form").submit();
            });
            $('.selected_fitlers_container .selected_filter span').on('click', function () {

                var filter = $(this).attr('data-resetfilter');
                if (filter == 'module_field_display_name') {
                    $("#filter_form input[name='filter[text][" + filter + "]'").val('')
                } else {
                    $("#filter_form input[name='filter[match][" + filter + "]'").prop('checked', false);

                }
                $(this).parent().remove();
                $("#filter_form").submit();

            });
            $('.delete-link').on('click', function (event) {

                if (confirm('Are you sure to delete the row?')) {

                    event.stopPropagation();
                    return true;
                }
                return false;

            });
            
            if($('.setting_table').length){
                var table = $('table.setting_table');
               //console.log(jQuery.floatThead());
                table.floatThead({
                    position: 'absolute',
                    scrollContainer: function(table){
                        return table.closest('.table-outer');
                    }
                });
            }
        });

    </script>
{% endblock %}
{% block body %}

    <div class="bottom-sec">
        <div class="bread-crumb">
            <span id="module_name">Module Settings</span>
            <i class="fa fa-long-arrow-right"></i>
            <span>View</span>
        </div>
        <div class="custom-feature">
            <a class="red-btn" href="{{ path('intelligent_setting_edit',  app.request.query.all| merge( {'edit_id': 'new'})) }}"><i class="fa fa-plus"></i>New Module</a>
        </div>
    </div>
    <div class="full-container content-table">
        <div class="left-container left-sidebar">
            <form method='GET' id="filter_form">
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Sort</a></h6>
                    <ul>
                        <li>
                            <select name="sort">
                                <option value="">Sort By</option>
                                <option value="module|asc"  {{selected_filters.sort is defined and selected_filters.sort == 'module|asc'? 'SELECTED':'' }}>Module(asc)</option>
                                <option value="module|desc" {{selected_filters.sort is defined and selected_filters.sort == 'module|desc'? 'SELECTED':'' }}>Module(desc)</option>
                                <option value="module_field_display_name|asc" {{selected_filters.sort is defined and selected_filters.sort == 'module_field_display_name|asc'? 'SELECTED':'' }}>Field Name(asc)</option>
                                <option value="module_field_display_name|desc" {{selected_filters.sort is defined and selected_filters.sort == 'module_field_display_name|desc'? 'SELECTED':'' }}>Field Name(desc)</option>
                                <option value="module_field_datatype|asc" {{selected_filters.sort is defined and selected_filters.sort == 'module_field_datatype|asc'? 'SELECTED':'' }}>Datatype(asc)</option>
                                <option value="module_field_datatype|desc" {{selected_filters.sort is defined and selected_filters.sort == 'module_field_datatype|desc'? 'SELECTED':'' }}>Datatype(desc)</option>

                            </select>
                        </li>
                    </ul>
                </div>
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Field Name</a></h6>
                    <ul>
                        <li>
                            <input name="filter[text][module_field_display_name]" type="text" placeholder="Text search" value="{{selected_filters.filter.text.module_field_display_name is defined and selected_filters.filter.text.module_field_display_name is not empty ? selected_filters.filter.text.module_field_display_name | trim:'' }}">
                            <input type='submit' value=">>">
                        </li>
                    </ul>
                </div>
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Modules</a></h6>
                    <ul>
                        {% for keyname, module in modules %}
                            <li><input type="radio" name="filter[match][module]"  value="{{keyname}}"
                                       {{selected_filters.filter.match.module is defined and selected_filters.filter.match.module == keyname? 'CHECKED':'' }}><label>{{module}}</label> </li>
                                {% endfor %}

                    </ul>
                </div>
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Datatype</a></h6>
                    <ul>
                        {% for keyname, datatype in datatypes %}
                            <li><input type="radio" name="filter[match][module_field_datatype]" value="{{keyname}}"
                                       {{selected_filters.filter.match.module_field_datatype is defined and selected_filters.filter.match.module_field_datatype == keyname? 'CHECKED':'' }}> <label>{{datatype}}</label></li>
                            {% endfor %}
                    </ul>
                </div>
            </form>

        </div>
        <div class="right-container table-content">
            <div class="selected_fitlers_container">

                {% if selected_filters.filter.text.module_field_display_name is defined and  selected_filters.filter.text.module_field_display_name is not empty%}
                    <div class="selected_filter">
                        <small>Field name like {{selected_filters.filter.text.module_field_display_name}}</small> <span data-resetfilter="module_field_display_name">X</span> 
                    </div>
                {% endif %}
                {% if selected_filters.filter.match.module is defined%}
                    <div class="selected_filter" >
                        <small><b>Module:</b> {{modules[selected_filters.filter.match.module]}} </small> <span data-resetfilter="module">X</span> 
                    </div>
                {% endif %}
                {% if selected_filters.filter.match.module_field_datatype is defined%}
                    <div class="selected_filter" >
                        <small><b> DataType:</b> {{datatypes[selected_filters.filter.match.module_field_datatype]}} </small> <span data-resetfilter="module_field_datatype">X</span> 
                    </div>
                {% endif %}
                {% if selected_filters.sort is defined and  selected_filters.sort is not empty%}
                    <!--<div class="selected_filter">
                        Sort By {{selected_filters.filter.text.module_field_display_name}} <span data-resetfilter="module_field_display_name">X</span> 
                    </div>-->
                {% endif %}
            </div>
            
                {% if pagination.total_record > 0 %}
                    <div id="display-count">
                        <p>
                            Displaying 
                            <span class="lower-limit"> {{((pagination.active - 1)*pagination.limit) + 1 }} </span>
                            to 
                            <span class="upper-limit"> {{((pagination.active * pagination.limit) > pagination.total_record) ? pagination.total_record : pagination.active * pagination.limit}} </span>
                            out of 
                            <span class="total-result">{{pagination.total_record}}</span> 
                            Fields
                        </p>
                    </div>
                {% endif %}
            
            <table class="setting_table">
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Field</th>
                        <th>Data Type</th>
                        <th>Display Position</th>
                        <th>Filtered Enable</th>
                        <th>Last Modified</th>
                        <th>Action</th>
                    </tr>
                </thead>

                {% for row in rows %}
                    <tr>
                        <td>{{modules[row.module]}}</td>
                        <td style="text-align:left">{{row.module_field_display_name}} <span style="font-size:7px;float:right;">{{row.module_field_name}}</span></td>
                        <td>{{attribute(datatypes,row.module_field_datatype)}}</td>
                        <td>{{row.display_position}}</td>
                        <td>{{row.enable_filter}}</td>
                        <td>{{row.modified_datetime}}</td>
                        <td><a href="{{ path('intelligent_setting_edit', app.request.query.all| merge( {'edit_id': row.id})) }}">view</a> | <a href="{{ path('intelligent_setting_edit', app.request.query.all| merge( {'edit_id': row.id})) }}">edit</a> | <a href="{{ path('intelligent_setting_delete', app.request.query.all| merge({'delete_id': row.id} )) }}" class="delete-link">delete</a></td>
                    </tr>
                {% endfor %}

            </table>

            {{ include('IntelligentSettingBundle:Default:pagination.html.twig', { 'pagination': pagination }) }}
        </div>

    </div>
{% endblock %}