{# Intelligent/CustomerBundle/Resources/views/Default/view.html.twig #}
{% extends "base.html.twig"  %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/js/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .full-container{
            width: 100%;
        }
        .left-container{
            width: 20%;
            float: left;
        }
        .right-container{
            width: 80%;
            float: left;
        }
        .right-container table{
            width: 100%;
        }
        
        .selected_fitlers_container{
            width: 100%;
        }
        .selected_filter{
            float: left;
            padding: 5px 15px;
            margin: 5px 15px;
        }

        .marketingProjects thead tr th:first-child, .marketingProjects tbody tr td:first-child{text-align: center;}

        .table-outer{
    overflow: auto;
    padding-bottom: 15px;
    height:500px;
}


    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script>

        jQuery(document).ready(function ($) {

            $("#filter_form input[type='radio'],#filter_form select").change(function () {

                $("#filter_form").submit();
            });
            $('.selected_fitlers_container .selected_filter span').on('click', function () {

                var filter = $(this).attr('data-resetfilter');
                if (filter == 'sort') {
                    $("#filter_form select[name='sort']").val('')
                } else {
                    field = $('.filter-' + filter);
                    console.log(field)
                    if (field.length) {
                        field.val('')
                        if (field.attr('type') == 'text') {
                            field.val('')
                            //$("#filter_form input[name='filter[text][" + filter + "]'").val('')
                        } else {
                            $("#filter_form input[name='filter[match][" + filter + "]'").prop('checked', false);
                        }
                    }
                }
                $(this).parent().remove();
                $("#filter_form").submit();
            });
            $('.delete-link').on('click', function (event) {

                if (confirm('Are you sure to delete the row?')) {

                    event.stopPropagation();
                    return true;
                }
                return false;

            });

            if ($('._id').length) {
                $('._id').css('width', '50px');
            }
            if ($('._varchar').length) {
                $('._varchar').css('width', '200px');
            }
            if ($('._relationship').length) {
                $('._relationship').css('width', '150px');
            }
            if ($('._enum').length) {
                $('._enum').css('width', '100px');
            }
            if ($('._link').length) {
                $('._link').css('width', '110px');
            }
            if ($('._user').length) {
                $('._user').css('width', '200px');
            }
            if ($('._number').length) {
                $('._number').css('width', '100px');
            }
            if ($('._decimal').length) {
                $('._decimal').css('width', '100px');
            }
            if($('._percentage').length){
               $('._percentage').css('width','150px');
            }
            if($('._formulafield').length){
               $('._formulafield').css('width','200px');
            }
            if($('._date').length){
               $('._date').css('width','150px');

            }
            if($('._text').length){
               $('._text').css('width','150px');

            }
            if ($('._modified').length) {
                $('._modified').css('width', '180px');
            }
            if ($('._action').length) {
                $('._action').css('width', '170px');
            }
            var _width = 0;
            var th = $('.marketingProjects thead tr th');
            th.each(function () {
                w = $(this)[0].style.width;
                //console.log(w);
                _width = _width + parseInt(w);
                //alert(w);
            });

            $('.marketingProjects').css('width', _width + 'px');
            
            if($('.marketingProjects').length){
                var table = $('table.marketingProjects');
               //console.log(jQuery.floatThead());
                table.floatThead({
                    position: 'absolute',
                    scrollContainer: function(table){
                        return table.closest('.table-outer');
                    }
                });
            }

        });


    </script>

{% endblock %}
{% block body %}

    {#% set permissions = app.session.get(module_permission_asscess_key) %#}
    <div class="bottom-sec">
        <div class="bread-crumb">
            <span id="module_name">{{module_display_name}}</span>
            <i class="fa fa-long-arrow-right"></i>
            <span>View</span>
        </div>
        <div class="custom-feature">
            {% if permissions['add'] %}
                <a class="red-btn" href="{{ path('intelligent_'~module~'_edit', {'edit_id': 'new'}) }}"><i class="fa fa-plus"></i>New {{module_display_name}}</a>
            {% endif %}
            
            {% if permissions['setting_permissions'] %}
                <a class="green-btn" href="{{ path('intelligent_setting_view', {'filter[match][module]': module_name}) }}"><i class="fa fa-gears"></i>Settings</a>
            {% endif %}
            
            
            
            
        </div>
        
        
    </div>
    <div class="full-container content-table">
        <div class="left-container left-sidebar">
            <form method='GET' id="filter_form">
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Sort</a></h6>
                    <ul>
                        <li>
                            <select name="sort">
                                <option value="">Sort By</option>
                                {% for field_settings in schema %}

                                    {% if (field_settings['enable_filter'] == 'Y') %}

                                    {% if permissions.custom == false or  (permissions.custom == true and permissions.custom_field[field_settings.module_field_name]>0) %}

                                    <option value="{{field_settings.module_field_name}}|asc"  {{selected_filters.sort is defined and selected_filters.sort == field_settings.module_field_name~'|asc'? 'SELECTED':'' }}>{{field_settings.module_field_display_name}}(asc)</option>

                                    <option value="{{field_settings.module_field_name}}|desc"  {{selected_filters.sort is defined and selected_filters.sort == field_settings.module_field_name~'|desc'? 'SELECTED':'' }}>{{field_settings.module_field_display_name}}(desc)</option>

                                    {% endif %}
                                        {% endif %}

                                            {% endfor %}
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                                {% for field_settings in schema %}
                                    {% if field_settings['enable_filter'] == 'Y' %} 

                                    {% if field_settings.module_field_datatype == 'user' %}


                                    {{ include('IntelligentModuleBundle:Default:view/filters/'~field_settings.module_field_datatype~'.html.twig', { 'field_settings': field_settings,'selected': selected_filters.filter is defined ? selected_filters.filter : '','users': users}) }}
                                {% else %}

                                    {{ include('IntelligentModuleBundle:Default:view/filters/'~field_settings.module_field_datatype~'.html.twig', { 'field_settings': field_settings,'selected': selected_filters.filter is defined ? selected_filters.filter : ''}) }}
                                    {% endif %}
                                        {% endif %}

                                            {% endfor %}

                                            </form>
                                        </div>
                                        <div class="right-container table-content">

                                            {{ include('IntelligentModuleBundle:Default:view/selected-labels.html.twig', { 'schema': schema,'selected_filters': selected_filters ,'users':users }) }}   
                                            
                                            {% if pagination.total_record > 0 %}
                                                <div id="display-count">
                                                    <p>
                                                        Displaying 
                                                        <span class="lower-limit"> {{((pagination.active - 1)*pagination.limit) + 1 }} </span>
                                                        to 
                                                        <span class="upper-limit"> {{((pagination.active * pagination.limit) > pagination.total_record) ? pagination.total_record : pagination.active * pagination.limit}} </span>
                                                        out of 
                                                        <span class="total-result">{{pagination.total_record}}</span> 
                                                        {{module_display_name}}
                                                    </p>
                                                </div>
                                            {% endif %}
                                            {% if rows|length > 0 %}
                                                <div class="table-outer">
                                                    <table class="marketingProjects">
                                                        <thead>
                                                            <tr>
                                                                <th class="_action">Action</th>

                                                                <th class="_id">Id</th>

                                                                {% for field_settings in schema %}
                                                                    {% if permissions.custom == false or  (permissions.custom == true and permissions.custom_field[field_settings.module_field_name]>0) %}
                                                                    {# if custom access setting id done then allowed only for view & editview is true that is 1 or 2  #}
                                                                    <th class="_{{field_settings.module_field_datatype}}">{{field_settings.module_field_display_name}}</th>
                                                                        {% endif %}
                                                                            {% endfor %}
                                                                            <th class="_modified">Last Modified</th>
                                                                            
                                                                        </tr>
                                                                    
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for row in rows %}
                                                                        <tr>
                                                                            <td>
                                                                                <a href="{{ path('intelligent_'~module~'_edit', {'edit_id': row.id}) }}">view</a>  
                                                                                {% if permissions.edit %} 
                                                                                    | <a href="{{ path('intelligent_'~module~'_edit', {'edit_id': row.id}) }}">edit</a> 
                                                                                {% endif %}
                                                                                {% if permissions.delete %}     
                                                                                    | <a href="{{ path('intelligent_'~module~'_delete', {'delete_id': row.id}) }}" class="delete-link">delete</a>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>{{row.id}}

                                                                                {% for field_settings in schema %}

                                                                                    {% if field_settings.module_field_datatype == 'user' %}
                                                                                    {{ include('IntelligentModuleBundle:Default:view/'~field_settings.module_field_datatype~'.html.twig', { 'field_settings': field_settings,'data': row[field_settings.module_field_name] is defined ? row[field_settings.module_field_name] : '','users':users,'permissions':permissions }) }}   
                                                                                {% else %}
                                                                                    {{ include('IntelligentModuleBundle:Default:view/'~field_settings.module_field_datatype~'.html.twig', { 'field_settings': field_settings,'data': row[field_settings.module_field_name] is defined ? row[field_settings.module_field_name] : '','permissions':permissions ,'id': row['id'] is defined ? row['id'] : ''}) }}      
                                                                                    {% endif %}
                                                                                        {% endfor %}
                                                                                        <td>{{row.modified_datetime}}</td>

                                                                                    </tr>
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                    </table>
                                                                                </div>
                                                                                {{ include('IntelligentModuleBundle:Default:pagination.html.twig', { 'pagination': pagination,'module':module }) }}
                                                                                {% else %}
                                                                                    <br><br><br> 
                                                                                    <div style="width:100%;display: block;">No Results found</div>
                                                                                    {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                                {% endblock %}