<div class="selected_fitlers_container">
    {% if selected_filters.sort is defined and  selected_filters.sort is not empty%}
        {% set selected_sort_name =  selected_filters.sort|replace({'|asc':'','|desc':''}) %}                                            
        {% set selected_sort_display_name = schema[selected_sort_name]['module_field_display_name'] %}
        {% set selected_sort_label = selected_filters.sort | replace({selected_sort_name:selected_sort_display_name})  %}
        <div class="selected_filter">
            Sort By {{selected_filters.sort | replace({(selected_sort_name) : selected_sort_display_name}) | replace({'|':'('})~')'}} <span data-resetfilter="sort">X</span> 
        </div>
    {% endif %}

    {% if selected_filters.filter is defined %}

        {% for type,selected_filter in selected_filters.filter %}

            {% for selected_filter_name,selected_filter_value in selected_filter %}
                {% if type == 'text' and selected_filter_value is not empty%}

                    <div class="selected_filter">
                        {{schema[selected_filter_name]['module_field_display_name']}} like {{selected_filter_value}} <span data-resetfilter="{{selected_filter_name}}">X</span> 
                    </div>

                {% elseif type == 'match' %}

                    <div class="selected_filter" >
                        {{schema[selected_filter_name]['module_field_display_name']}}: {{schema[selected_filter_name]['module_field_datatype'] == 'user'? users[selected_filter_value]:selected_filter_value}} <span data-resetfilter="{{selected_filter_name}}">X</span> 
                    </div>

                {% endif %}

            {% endfor %}

        {% endfor %}

    {% endif %}

</div>